body {
   background: rgb(212, 131, 64);
    font-family: 'Tahoma'; 
}
header {
    color: aliceblue;
    text-align: center;
}
h1, p{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.952);
}
section {
    background-color: rgb(240, 248, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

footer {
    color: aliceblue;
    font-style: italic;
    text-align: center;
    
}

.imagem {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: 1s;
}
.imagem:hover {
    transform: scale(1.08);
}

div {
    text-align: center;
    padding: 1em 0;
}